.Account {
    width: 100%;
    min-height: calc(100vh - 50px - 50px);
    background-color: #ffffff;
}

.Account h1 {
    padding-top: 50px;
    padding-bottom: 20px;
}

.Account p {
    padding-top: 10px;
    padding-bottom: 10px;
}




.Account input {
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
}

.Account button {
    width: 100px;
    height: 30px;
    background-color: rgb(76, 164, 236);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.Account button:hover {
    background-color: rgb(76, 79, 236);
}